SavedNodeRedFlows/sharePrice.flow
[{"id":"52fe20ff.85067","type":"www-request","z":"72d84242.91fa8c","name":"","method":"GET","ret":"obj","url":"https://www.quandl.com/api/v3/datasets/NSE/SBIN.json?api_key=bytwKd5t12R-6robM62M&start_date=2015-09-01&end_date=2015-09-01","tls":"","x":411,"y":174,"wires":[["eb80a98c.248fe8"]]},{"id":"eb80a98c.248fe8","type":"function","z":"72d84242.91fa8c","name":"","func":"var stockData = msg.payload;\n\n/*msg.payload = stockData.dataset.name+\"<br>\"+\n              stockData.dataset.data[0][0]+\"<br>\"+\n              stockData.dataset.data[0][5];*/\n\nreturn msg;","outputs":1,"noerr":0,"x":516,"y":223,"wires":[["359b3e88.d390f2"]]},{"id":"3ac2ac25.3bcf64","type":"function","z":"72d84242.91fa8c","name":"","func":"\nmsg.url = \"https://www.quandl.com/api/v3/datasets/NSE/SBIN.json?api_key=bytwKd5t12R-6robM62M&start_date=2015-09-01&end_date=2015-09-01\";\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":174,"wires":[["52fe20ff.85067"]]},{"id":"5cc11577.1bc12c","type":"inject","z":"72d84242.91fa8c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":226,"wires":[["701ecf9f.b7eaf","3ac2ac25.3bcf64"]]},{"id":"701ecf9f.b7eaf","type":"function","z":"72d84242.91fa8c","name":"","func":"msg.url=\"http://finance.google.com/finance/info?client=ig&q=NSE:SBIN\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":274,"wires":[["fcb9d630.2a1648"]]},{"id":"fcb9d630.2a1648","type":"http request","z":"72d84242.91fa8c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":390,"y":274,"wires":[["3d83c9c.8287d36"]]},{"id":"c001ff99.85d6d","type":"ui_template","z":"72d84242.91fa8c","tab":"a4e1eec6.01b96","name":"test","group":"2","order":1,"format":"{{msg.payload.dataset.data[0][5]}}\n<br>\n{{msg.payload.t}}\n<br>\n{{msg.payload.l}}\n<br>\nDifference is {{msg.payload.l - msg.payload.dataset.data[0][5]}}","storeOutMessages":true,"fwdInMessages":true,"x":759,"y":286,"wires":[[]]},{"id":"3d83c9c.8287d36","type":"function","z":"72d84242.91fa8c","name":"","func":"var op = msg.payload;\nop = op.substring(5,op.length-2);\nop = op.replace(/(?:\\r\\n|\\r|\\n)/g,'');\nop = op.replace(/\\s/g, '');\nmsg.payload = JSON.parse(op.toString());\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":287,"wires":[["359b3e88.d390f2"]]},{"id":"359b3e88.d390f2","type":"join","z":"72d84242.91fa8c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":650,"y":74,"wires":[["c001ff99.85d6d"]]},{"id":"a4e1eec6.01b96","type":"ui_tab","z":"72d84242.91fa8c","name":"Home","icon":"price","order":"1"}]
