SavedNodeRedFlows/voiceRecognition.flow
[{"id":"95bdde74.cfdec","type":"exec","z":"91fed791.130ae8","command":"arecord -D plughw:1,0 -t wav -d 3 -r 16000 | flac - -f --best --sample-rate 16000 -o /dev/shm/out.flac 1>/dev/shm/voice.log 2>/dev/shm/voice.log; curl -X POST --data-binary @/dev/shm/out.flac --user-agent 'Mozilla/5.0' --header 'Content-Type: audio/x-flac; rate=16000;' \"https://www.google.com/speech-api/v2/recognize?output=json&lang=$lang&key=AIzaSyBOti4mM-6x9WDnZIjIeyEU21OpBXqWBgw&client=Mozilla/5.0\" | sed -e 's/[{}]/''/g' | awk -F\":\" '{print $4}' | awk -F\",\" '{print $1}' | tr -d '\\n'","addpay":false,"append":"","useSpawn":"","timer":"","name":"STT","x":315,"y":130.5,"wires":[["744f55ec.20682c","28f430d.329ced"],[],[]]},{"id":"246ff035.edfb7","type":"inject","z":"91fed791.130ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":132,"wires":[["95bdde74.cfdec"]]},{"id":"46259ec4.f45ca","type":"say","z":"91fed791.130ae8","name":"Filler Yes My lord ","x":794,"y":100,"wires":[[]]},{"id":"744f55ec.20682c","type":"switch","z":"91fed791.130ae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"Google\"","vt":"str"},{"t":"eq","v":"\"Jarvis\"","vt":"str"},{"t":"eq","v":"\"msg.payload\"","vt":"str"}],"checkall":"false","outputs":3,"x":556,"y":103.5,"wires":[["46259ec4.f45ca"],["109214cc.39f44b"],["d841e146.49e108"]]},{"id":"109214cc.39f44b","type":"say","z":"91fed791.130ae8","name":"Filler How can i help you ?","x":818,"y":164,"wires":[[]]},{"id":"28f430d.329ced","type":"debug","z":"91fed791.130ae8","name":"","active":true,"console":"false","complete":"false","x":516,"y":201,"wires":[]},{"id":"d841e146.49e108","type":"say","z":"91fed791.130ae8","name":"Filler unknown command !!!","x":822,"y":222,"wires":[[]]}]
