SavedNodeRedFlows/wordApp.flow
[{"id":"ba8f676.8b1e198","type":"mysql","z":"ee1ec124.2dd92","mydb":"8a18c619.0c5718","name":"mysql_local","x":485.5,"y":194,"wires":[["ca42c041.0e49f"]]},{"id":"52c0edab.6b7fd4","type":"http in","z":"ee1ec124.2dd92","name":"/showWords","url":"/showWords","method":"get","swaggerDoc":"","x":112,"y":197,"wires":[["31bccb.f98f4336"]]},{"id":"ac3c0f46.11bb1","type":"http response","z":"ee1ec124.2dd92","name":"showWordsResponse","x":1052,"y":191,"wires":[]},{"id":"31bccb.f98f4336","type":"function","z":"ee1ec124.2dd92","name":"select Query","func":"msg.topic=\"select *,UCASE(SUBSTR(word,1,1)) initial from words order by word;\";\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":194,"wires":[["ba8f676.8b1e198"]]},{"id":"ca42c041.0e49f","type":"function","z":"ee1ec124.2dd92","name":"Format output","func":"var query_output = msg.payload;\nvar html_out = '';\nvar prevValue='';\nvar cnt=1;\nvar gridCounter=0;\n\n\nfor (var j in query_output){\n    if((parseInt(gridCounter,10)%4) === 0 ){\n        html_out=html_out+\"<div class=\\\"row\\\">\";\n        console.log(\"Grid Counter:\"+gridCounter );\n        console.log(\"GRID start\");\n    }\n    if(prevValue !== query_output[j].initial){\n        html_out = html_out+\n              \"<div class=\\\"col-sm-3\\\">\"+\n              \"<div class=\\\"panel-group\\\">\"+\n              \"<div class=\\\"panel panel-default\\\">\"+\n                \"<div class=\\\"panel-heading\\\">\"+\n                \"  <h4 class=\\\"panel-title\\\">\"+\n                \"    <a data-toggle=\\\"collapse\\\" href=\\\"#collapse\"+cnt+\"\\\">\"+query_output[j].initial+\"</a>\"+\n                \" </h4>\"+\n                \"</div>\"+\n                \"<div id=\\\"collapse\"+cnt+\"\\\" class=\\\"panel-collapse collapse\\\">\"+\n                \"  <ul class=\\\"list-group\\\">\";\n                console.error(\"Head\");\n    }\n    html_out=html_out+\n                \"<li class=\\\"list-group-item\\\">\"+\n                \"    <button type=\\\"button\\\" class=\\\"btn\\\" data-toggle=\\\"collapse\\\" data-target=\\\"#demo\"+cnt+\"\\\">\"+query_output[j].word+\"</button>\"+\n                      \"<div id=\\\"demo\"+cnt+\"\\\" class=\\\"collapse\\\">\"+  \n                        query_output[j].meaning+\n                \"      </div>\"+\n                \"</li>\";\n                console.error(\"------list\");\n    if(parseInt(j,10)<(query_output.length-1)){\n        if(query_output[j].initial !== query_output[(parseInt(j,10)+1).toString()].initial){\n            html_out=html_out+\n                \"             </ul>\"+\n                \"    </div>\"+\n                \"  </div>\"+\n                \"</div></div>\";\n                console.error(\"Tail\");\n                gridCounter++;\n                if((parseInt(gridCounter-1,10)%4) === 3 ){\n                    html_out=html_out+\"</div>\";\n                    console.log(\"GRID end\");\n                }    \n        }    \n    }else if (parseInt(j,10) == (query_output.length-1)){\n        html_out=html_out+\n                \"             </ul>\"+\n                \"    </div>\"+\n                \"  </div>\"+\n                \"</div></div>\";\n                console.error(\"Tail\");\n                html_out=html_out+\"</div>\";\n                console.log(\"GRID end\");\n    }\n    prevValue = query_output[j].initial; \n    cnt++;  \n}\nmsg.payload = html_out;\nreturn msg;","outputs":1,"noerr":0,"x":687,"y":194,"wires":[["f406757d.914b88"]]},{"id":"f406757d.914b88","type":"template","z":"ee1ec124.2dd92","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n    <title>WORD APP</title>\n\n    <!-- Bootstrap -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css\" integrity=\"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp\" crossorigin=\"anonymous\">\n\n    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js\"></script>\n      <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n    <![endif]-->\n  </head>\n  <body>\n    <nav class=\"navbar navbar-inverse\">\n      <div class=\"container-fluid\">\n        <div class=\"navbar-header\">\n          <a class=\"navbar-brand\" href=\"/showWords\">Words</a>\n        </div>\n      </div>\n    </nav> \n   <div class=\"container\">\n    {{{payload}}}\n        <form action=\"/saveWord\" method=\"post\">\n            <div class=\"row\">\n                <div class=\"col-sm-4\" >\n                </div>\n                <div class=\"col-sm-4\" >\n                        <div class=\"form-group\">\n                            <label for=\"usr\">Word:</label>\n                            <input name=\"word\" type=\"text\" class=\"form-control\" id=\"word\">\n                        </div>    \n                </div>\n                <div class=\"col-sm-4\">\n                </div>\n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-4\" >\n                </div>\n                <div class=\"col-sm-4\" >\n                    <div class=\"form-group\">\n                        <label for=\"comment\">Meaning:</label>\n                        <textarea name=\"meaning\" class=\"form-control\" rows=\"5\" id=\"comment\"></textarea>\n                    </div>    \n                </div>\n                <div class=\"col-sm-4\">\n                </div>\n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-4\" >\n                </div>\n                <div class=\"col-sm-4\" >\n                    <button type=\"submit\" class=\"btn btn-primary\">save</button>\n                </div>\n                <div class=\"col-sm-4\">\n                </div>\n            </div>\n        </form>\n    </div>\n    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <!-- Include all compiled plugins (below), or include individual files as needed -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n  </body>\n</html>\n\n\n","x":864,"y":194,"wires":[["ac3c0f46.11bb1"]]},{"id":"5bbfbbee.3e63bc","type":"http in","z":"ee1ec124.2dd92","name":"/saveWord","url":"/saveWord","method":"post","swaggerDoc":"","x":103,"y":279.5,"wires":[["3242d5fd.e972e2"]]},{"id":"3242d5fd.e972e2","type":"function","z":"ee1ec124.2dd92","name":"Insert Query","func":"if((msg.req.body.word).toString() !== ''){\n    var query = \"insert into words (word,Meaning) values ('\"+\n                msg.req.body.word+\n                \"','\"+\n                msg.req.body.meaning+\n                \"')\";\n    msg.topic=query;\n    return msg;\n}else{\n    msg.topic=\"select 1 from dual\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":319,"y":278.5,"wires":[["c9d6fbb6.f0d37"]]},{"id":"c9d6fbb6.f0d37","type":"mysql","z":"ee1ec124.2dd92","mydb":"8a18c619.0c5718","name":"Insert into word","x":504,"y":278.5,"wires":[["31bccb.f98f4336"]]},{"id":"ebf51b35.58c97","type":"mysql","z":"ee1ec124.2dd92","mydb":"8a18c619.0c5718","name":"","x":358,"y":390.5,"wires":[["fbdd7f61.eca8"]]},{"id":"56c8c224.9f5804","type":"function","z":"ee1ec124.2dd92","name":"Max count from DB","func":"msg.topic = \"select count(1) count from words;\"\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":353.5,"wires":[["ebf51b35.58c97"]]},{"id":"fbdd7f61.eca8","type":"function","z":"ee1ec124.2dd92","name":"Single row qry","func":"var maxCount = msg.payload[0].count;\nvar x = Math.floor((Math.random() * maxCount) + 1);\nvar qry = \"select * from (\"+\n            \"SELECT @rownum:=@rownum + 1 as row_number,\"+\n            \" t.*\"+\n            \" FROM (\"+ \n            \" select * from words\"+\n            \" ) t,\"+\n            \" (SELECT @rownum := 0) r ) temp where row_number = \"+x+\";\";\nmsg.topic = qry;\nconsole.log(qry);\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":350.5,"wires":[["4ec5a30e.14439c"]]},{"id":"d250b11a.55f9d","type":"http response","z":"ee1ec124.2dd92","name":"showRandomWordResponse","x":1154,"y":344,"wires":[]},{"id":"cb486a89.d0947","type":"http in","z":"ee1ec124.2dd92","name":"/showRandomWord","url":"/showRandomWord","method":"get","swaggerDoc":"","x":138,"y":354.5,"wires":[["56c8c224.9f5804"]]},{"id":"4ec5a30e.14439c","type":"mysql","z":"ee1ec124.2dd92","mydb":"8a18c619.0c5718","name":"select word","x":592,"y":392,"wires":[["b43df11e.e4d5c"]]},{"id":"b43df11e.e4d5c","type":"function","z":"ee1ec124.2dd92","name":"","func":"var qry_output = msg.payload;\n\nmsg.payload =   \"<button type=\\\"button\\\" class=\\\"btn btn-info\\\" data-toggle=\\\"collapse\\\" data-target=\\\"#demo\\\">\"+msg.payload[0].word+\"</button>\"+\n  \"<div id=\\\"demo\\\" class=\\\"collapse\\\">\"+\n  msg.payload[0].meaning+\n  \"</div>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":785,"y":351,"wires":[["2e7a2bf3.6ee294"]]},{"id":"2e7a2bf3.6ee294","type":"template","z":"ee1ec124.2dd92","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n    <title>WORD APP</title>\n\n    <!-- Bootstrap -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css\" integrity=\"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp\" crossorigin=\"anonymous\">\n\n    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js\"></script>\n      <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n    <![endif]-->\n  </head>\n  <body>\n    <nav class=\"navbar navbar-inverse\">\n      <div class=\"container-fluid\">\n        <div class=\"navbar-header\">\n          <a class=\"navbar-brand\" href=\"/showWords\">Words</a>\n        </div>\n      </div>\n    </nav> \n   <div class=\"container\">\n    <div class=\"row\">\n                <div class=\"col-sm-4\" >\n                </div>\n                <div class=\"col-sm-4\" >\n                        <div class=\"row\">\n                                    <div class=\"col-sm-4\" >\n                                    </div>\n                                    <div class=\"col-sm-4\" >\n                                        {{{payload}}}        \n                                    </div>\n                                    <div class=\"col-sm-4\">\n                                    </div>\n                                </div>\n                        </div>\n                </div>\n                <div class=\"col-sm-4\">\n                </div>\n            </div>\n    </div>\n    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <!-- Include all compiled plugins (below), or include individual files as needed -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n  </body>\n</html>\n","x":936,"y":347,"wires":[["d250b11a.55f9d"]]},{"id":"8a18c619.0c5718","type":"MySQLdatabase","z":"ee1ec124.2dd92","host":"127.0.0.1","port":"3306","db":"wordapp","tz":""}]
